.App {
    border: 1px solid gray;
    margin: 50px 30px;
    padding: 25px 15px;
}

.to-do-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.to-do-container ul li {
    width: auto;
    overflow-wrap: break-word;
    list-style-type: "👌";
    cursor: pointer;
}
